.priya{
    color: white;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    background-size: cover;
    height: 100vh;
    width: 100;
    font-weight: bold;
}


.h{
    text-align: center;
    background-color: #3f3c4d;
    height: 50px;

}


.p1{
    text-align: end;
    background-color: lightblue;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 10px;
    
    
}
.p2{
    text-align: start;
    background-color: grey;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 10px;

}